<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>服务器掉线警告</title>
    </head>
    <body>
        <p>您好管理员,服务器IP：</p>
        <table>
            <tr>
                <th>服务器名称</th>
                <th>IP地址</th>
            </tr>
            <tr th:each="item,mStat:${unLineList}">
                <td>
                    <h4 th:text="${item.serverName}">127.0.0.1</h4>
                </td>
                <td>
                    <h4 th:text="${item.ip}">127.0.0.1</h4>
                </td>
            </tr>
        </table>
    <p>检测到服务掉线，请尽快查明原因尽快处理</p>

    </body>
</html>